@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --nav-bg: #27272F;
  --logoLogin-bg: #414040;
  --home-background: #111827;
  --text-primary-color: #fff;
  --text-secondary-color: #000;
  --text-primary-color-40: #ffffffa9;
  --toolbar: #27272F;
  --span-bg: rgba(79,85,113,0.35);
  --gradient-home: linear-gradient(0deg, #0e0e1b 40%, #27272f9d);
  
}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #ffffff;
  --foreground: #171717;
  --nav-bg: #27272F;
  --logoLogin-bg: #414040;
  --home-background: #111827;
  --text-primary-color: #000;
  --text-primary-color-40: #000000  ;
  --text-secondary-color: #fff;
  --toolbar: #27272F;
  --span-bg: #fff9;
  --gradient-home: linear-gradient(0deg,#faf8fc 40%,#27272f9d)
  }


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-foreground {
  background-color: var(--foreground);
}
.bg-background {
  background-color: var(--background);
}

.bg-nav {
  background-color: var(--nav-bg);
}
.bg-home {
  background-color: var(--home-background )
}

.bg-gradientP {
  background: var(--gradient-home);
}

.primary-text {
  color: var(--text-primary-color);
}
.secondary-text {
  color: var(--text-secondary-color);
}
.primary-text-40 {
  color: var(--text-primary-color-40);
}
.text-P {
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  font-style: normal;
}

.bg-span {
  background-color: var(--span-bg);
}

.bg-toolbar {
  background-color: var(--toolbar);
}

.htoolbar-text{
  color: #000 !important
}

.toolbar-text{
  color: #fff !important
}

.bg-logoLogin {
  background-color: var(--logoLogin-bg);
}